#new-tweet{
  margin-bottom: 1.5em;
}

#tweet-text{
  width: 100%;
  background: transparent;
  border-width: 0;
  border-bottom-width: 3px;
  height: 2.5em;
  font-weight: bold;
}

#tweet-text:focus{
  outline: none;
}

#new-tweet div{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#new-tweet button{
  color: white;
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  margin-top: 0.5em;
}

#new-tweet output{
  font-family: 'Bungee', sans-serif;
  margin-top: 0.5em;
}

.counterInvalid, .error-message{
  color: red;
}

#new-tweet .error-message{
  margin-top: 0;
  margin-bottom: 0;
}

.red-border{
  border-color: red;
}
